<ul class="footer__list-social list-unstyled list-social">


  {%- if settings.social_youtube_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_youtube_link }}" class="link list-social__link" >
        {%- render 'icon-youtube' -%}
        <span class="visually-hidden">{{ 'general.social.links.youtube' | t }}</span>
      </a>
    </li>
  {%- endif -%}

  {%- if settings.social_twitter_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_twitter_link }}" class="link list-social__link" >
       <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M11.9169 2.52015C11.4831 2.73707 10.9938 2.84323 10.5092 2.89861C10.9985 2.57553 11.3769 2.14169 11.5938 1.54169C11.1046 1.81861 10.6246 2.03092 10.0246 2.14169C9.59077 1.65246 8.94 1.38477 8.23846 1.38477C6.88154 1.38477 5.80154 2.46938 5.80154 3.82169C5.80154 4.03861 5.80154 4.20015 5.85692 4.36169C3.79385 4.25554 2.00308 3.28169 0.812308 1.82323C0.595385 2.20169 0.489231 2.58015 0.489231 3.06938C0.489231 3.93707 0.923077 4.63861 1.57385 5.12784C1.18842 5.12905 0.811176 5.01668 0.489231 4.80477V4.86015C0.489231 6.05092 1.35692 7.02938 2.44154 7.2463C2.22462 7.2463 2.00769 7.30169 1.79538 7.30169C1.63385 7.30169 1.47231 7.30169 1.36154 7.2463C1.63846 8.21553 2.55231 8.9263 3.63692 8.9263C2.76923 9.63246 1.74462 10.0109 0.6 10.0109C0.383077 10.0109 0.221538 10.0109 0 9.95553C1.08 10.6478 2.38154 11.0263 3.73385 11.0263C8.23385 11.0263 10.6708 7.28784 10.6708 4.08938V3.7663C11.163 3.43563 11.5862 3.01239 11.9169 2.52015Z" fill="#070707"/>
</svg>

        <span class="visually-hidden">{{ 'general.social.links.twitter' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_facebook_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_facebook_link }}" class="link list-social__link" >
<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_217_7384)">
<path d="M11.5338 0H0.535385C0.198462 0 0 0.198462 0 0.466154V11.4646C0 11.8015 0.198462 12 0.535385 12H6.40154V7.46769H4.86923V5.60308H6.40154V4.13538C6.40154 2.60308 7.40308 1.8 8.73692 1.8C9.40154 1.8 9.93692 1.86462 10.1354 1.86462V3.46615H9.20308C8.46923 3.46615 8.27077 3.79846 8.27077 4.33385V5.59846H10.1354L9.73385 7.46308H8.20154V12H11.4C11.6677 12 11.9354 11.8015 11.9354 11.4646V0.466154C12 0.198462 11.8015 0 11.5338 0Z" fill="#070707"/>
</g>
<defs>
<clipPath id="clip0_217_7384">
<rect width="12" height="12" fill="white"/>
</clipPath>
</defs>
</svg>


        <span class="visually-hidden">{{ 'general.social.links.facebook' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_instagram_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_instagram_link }}" class="link list-social__link" >
       <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_217_7386)">
<path d="M5.99999 1.10744L8.39999 1.15359C8.99999 1.19974 9.27691 1.29205 9.50768 1.33821C9.7846 1.43051 9.96922 1.56898 10.2 1.79974C10.4308 2.03051 10.5231 2.21513 10.6615 2.49205C10.7538 2.72282 10.8461 2.99974 10.8461 3.59974C10.8923 4.2459 10.8923 4.43051 10.8923 5.99974L10.8461 8.39974C10.8 8.99974 10.7077 9.27667 10.6615 9.50744C10.5692 9.78436 10.4308 9.96898 10.2 10.1997C9.96922 10.4305 9.7846 10.5228 9.50768 10.6613C9.27691 10.7536 8.99999 10.8459 8.39999 10.8459C7.75384 10.8921 7.56922 10.8921 5.99999 10.8921C4.43076 10.8921 4.19999 10.8921 3.59999 10.8459C2.99999 10.7997 2.72307 10.7074 2.4923 10.6613C2.21537 10.569 2.03076 10.4305 1.79999 10.1997C1.56922 9.96898 1.47691 9.78436 1.33845 9.50744C1.24614 9.27667 1.15383 8.99974 1.15383 8.39974C1.10768 7.75359 1.10768 7.56898 1.10768 5.99974L1.15383 3.59974C1.19999 2.99974 1.2923 2.72282 1.33845 2.49205C1.43076 2.21513 1.56922 2.03051 1.79999 1.79974C2.03076 1.56898 2.21537 1.47667 2.4923 1.33821C2.72307 1.2459 2.99999 1.15359 3.59999 1.15359C4.19999 1.10744 4.3846 1.10744 5.99999 1.10744ZM5.99999 0.0458984L3.55383 0.0920523C2.90768 0.0920523 2.4923 0.18436 2.07691 0.322821C1.70768 0.507437 1.3846 0.692052 1.01537 1.01513C0.692297 1.38436 0.507681 1.70744 0.323066 2.07667C0.184604 2.49205 0.0922964 2.90744 0.0461426 3.55359V5.99974L0.0922964 8.4459C0.13845 9.09205 0.230758 9.50744 0.36922 9.87667C0.507681 10.2921 0.73845 10.6151 1.06153 10.9382C1.3846 11.2613 1.70768 11.4921 2.12307 11.6305C2.4923 11.769 2.95383 11.8613 3.55383 11.9074C4.19999 11.9536 4.3846 11.9536 5.99999 11.9536L8.44614 11.9074C9.0923 11.8613 9.50768 11.769 9.87691 11.6305C10.2923 11.4921 10.6154 11.2613 10.9385 10.9382C11.2615 10.6151 11.4923 10.2921 11.6308 9.87667C11.7692 9.50744 11.8615 9.0459 11.9077 8.4459C11.9538 7.79974 11.9538 7.61513 11.9538 5.99974L11.9077 3.55359C11.8615 2.90744 11.7692 2.49205 11.6308 2.12282C11.4923 1.70744 11.2615 1.38436 10.9385 1.06128C10.6154 0.738206 10.2923 0.507437 9.87691 0.368975C9.50768 0.230514 9.04614 0.138206 8.44614 0.0920523C7.84614 0.0458984 7.61537 0.0458984 5.99999 0.0458984ZM5.99999 2.95359C4.2923 2.95359 2.95384 4.33821 2.95384 5.99974C2.95384 7.66128 4.33845 9.0459 5.99999 9.0459C7.66153 9.0459 9.04614 7.66128 9.04614 5.99974C9.04614 4.33821 7.70768 2.95359 5.99999 2.95359ZM5.99999 7.98436C4.8923 7.98436 4.01537 7.10744 4.01537 5.99974C4.01537 4.89205 4.8923 4.01513 5.99999 4.01513C7.10768 4.01513 7.9846 4.89205 7.9846 5.99974C7.9846 7.10744 7.10768 7.98436 5.99999 7.98436Z" fill="#070707"/>
<path d="M9.18451 3.55407C9.59235 3.55407 9.92297 3.22345 9.92297 2.81561C9.92297 2.40777 9.59235 2.07715 9.18451 2.07715C8.77667 2.07715 8.44604 2.40777 8.44604 2.81561C8.44604 3.22345 8.77667 3.55407 9.18451 3.55407Z" fill="#070707"/>
</g>
<defs>
<clipPath id="clip0_217_7386">
<rect width="12" height="12" fill="white"/>
</clipPath>
</defs>
</svg>

        <span class="visually-hidden">{{ 'general.social.links.instagram' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_tiktok_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_tiktok_link }}" class="link list-social__link" >
<svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
<g clip-path="url(#clip0_217_7389)">
<path d="M6.03656 0.00937466C6.70477 0 7.36583 0.007031 8.02927 0C8.06984 0.766378 8.34906 1.54448 8.91943 2.08586C9.4898 2.64131 10.294 2.89443 11.0768 2.98114V4.99435C10.3418 4.97091 9.60435 4.82092 8.93852 4.50921C8.64737 4.38031 8.3777 4.21391 8.1128 4.04517C8.11041 5.50527 8.11996 6.96537 8.10325 8.42079C8.06268 9.1192 7.82881 9.81527 7.41356 10.3918C6.74773 11.3504 5.59267 11.9761 4.4042 11.9949C3.67633 12.0347 2.94845 11.8402 2.32796 11.4816C1.30177 10.8863 0.578669 9.79418 0.473663 8.62469C0.461731 8.37391 0.456958 8.12549 0.466504 7.88174C0.55719 6.93022 1.03687 6.02087 1.78146 5.40215C2.62389 4.6803 3.8052 4.33812 4.91253 4.53968C4.92207 5.28028 4.89343 6.02087 4.89343 6.76147C4.3875 6.6021 3.79804 6.64663 3.35654 6.94662C3.03436 7.15286 2.78856 7.46692 2.66207 7.82081C2.55707 8.07393 2.58809 8.35517 2.59286 8.62469C2.71457 9.44497 3.51643 10.134 4.37557 10.0614C4.94355 10.0543 5.49005 9.7309 5.78598 9.25748C5.88144 9.09108 5.98883 8.92233 5.99599 8.72546C6.0461 7.83018 6.02701 6.93959 6.03179 6.04666C6.03179 4.02876 6.02224 2.02024 6.03656 0.00937466Z" fill="#070707"/>
</g>
<defs>
<clipPath id="clip0_217_7389">
<rect width="12" height="12" fill="white"/>
</clipPath>
</defs>
</svg>

        <span class="visually-hidden">{{ 'general.social.links.tiktok' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_pinterest_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_pinterest_link }}" class="link list-social__link" >
        {%- render 'icon-pinterest' -%}
        <span class="visually-hidden">{{ 'general.social.links.pinterest' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_snapchat_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_snapchat_link }}" class="link list-social__link" >
        {%- render 'icon-snapchat' -%}
        <span class="visually-hidden">{{ 'general.social.links.snapchat' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_tumblr_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_tumblr_link }}" class="link list-social__link" >
        {%- render 'icon-tumblr' -%}
        <span class="visually-hidden">{{ 'general.social.links.tumblr' | t }}</span>
      </a>
    </li>
  {%- endif -%}
  {%- if settings.social_vimeo_link != blank -%}
    <li class="list-social__item">
      <a href="{{ settings.social_vimeo_link }}" class="link list-social__link" >
        {%- render 'icon-vimeo' -%}
        <span class="visually-hidden">{{ 'general.social.links.vimeo' | t }}</span>
      </a>
    </li>
  {%- endif -%}
</ul>